<h2>My Blogs</h2>

<% @blogs.each do |blog|  %>


<div class="mb-3 list-group">
   <a href="#" class="list-group-item list-group-item-action" aria-current="true">

      <div class="d-flex w-100 justify-content-between">
         <h5 class="mb-1"><%= blog.title %> </h5>

      </div>
       <div class="d-flex w-100 justify-content-between">
         <h5 class="mb-1"><%= blog.status %> </h5>
      </div>
      <div class="d-flex w-100 justify-content-between">
      <p class="mb-1"> <%= blog.body %> <br> </p>
      </div>
      <% if blog.images.attached? %>
      <% blog.images.each do |image|%>
      <%= image_tag image, width:'200px'%>
      <%end%>
      <%end%>
   </a>
   <button type="button" > <%= link_to "Edit.", edit_blog_path(blog) %> </button>
   <button type="button" class="btn btn-danger" > <%= link_to "Delete.", delete_blog_path(blog), method: :delete %> </button>

</div>
<% end%>
<br>


<button type="button"> <%= link_to "Write another Blog.", new_blog_path %></button>
<% if Current.user %>
<%= Current.user.email %>
<%end%>
<%= button_to "Log Out", log_out_path %>
<%= button_to "Delete My Account", delete_user_path, method: :delete %>

