<%# <%# form_with model: @blog, url:blog_new_path do |f| %>
<div id="custom_org_id_select_menu">
    <%# f.select :title, ["Apple", "Google", "Microsoft", "Others"] %>    
 </div>  

  <div id="custom_org_id hide">
    <%# f.text_field :title, label: "Others" %>
  </div>
<%# end %> %>

<h2>Create New Blog</h2>

<%= form_with model: @blog, url:blog_new_path do |f| %>
<% if @blog.errors.any? %>
    <ul>
    <% @blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

<div class="mb-3" id="custom_org_id hide">
  <%= f.label :title %><br>
  <%= f.text_field :title, class:"form-control" %>
</div>

<div class="mb-3">
  <%= f.label :body  %><br>
  <%= f.text_area :body, class:"form-control"%>
</div>
<div class="mb-3">
  <%= f.label :images  %><br>
  <%= f.file_field :images, multiple:true, class:"form-control"%>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>
