<h2>Sign Up</h2>
<%= form_with model: @user,  url:user_index_path do |f| %>

<% if @user.errors.any?%>
<ul>
<% @user.errors.full_messages.each do |message|%>
<li>
<%= message %>
</li>
<%end%>
</ul>
<%end%>

<div class = "mb-3">
<%= f.label :email, "Email:" %>
<%= f.text_field :email, placeholder: "admin@example.com" %>
 </div>

<div class = "mb-3">
<%= f.label :password, "Password:" %>
<%= f.password_field :password %>
</div>

<div class = "mb-3">
<%= f.label :password, " Confirm Password:" %>
<%= f.password_field :password_confirmation %>
</div>

<div>
<%= f.submit "Sign Up" %>
</div>

<% end %>

<br>
<br>
<p>If you already have account.<p>
<%= link_to "Sign In", sign_in_path %>
  
